<!-- NAV BAR (DESKTOP)-->
<nav class="navbar navbar-default navbar-fixed-top nav">
  <div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="Home" style="color:white">HOME</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Profile" style="color:white">Profile</a></li>
        <li><a ng-click="vm.logout()" style="color:white">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>



<form ng-submit="vm.save()">
  <div>
    <label>Status</label>
    <input ng-model="vm.comments.status"/>
  </div>
</form>
