<div class="row">
  <div class="col-xs-12">
  <h5>Respond to comment:</h5>

  <form ng-submit="vm.save()">
     <div><textarea ng-model="vm.commentInput" rows="5" cols="30"></textarea>
      <br>
      <button class="btn btn-primary"
      ng-click="vm.addComment()">
      Submit
    </button>
  </div>
  </form>

<!-- Comments Responses -->
  <br><br>
  <div class ="col-sm-4">
  <label>View all comments:</label>
  <div ng-repeat="c in vm.comments">
  <div>
    @{{c.author}}
  </div>
  <div>
    {{c.text}}     <!-- this shows texts on page load -->
  </div>
  <div>
    {{c.dateCreated | date:"short"}}
  </div>
  </div>
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
  </div>
  </div>
</div>
