<!-- NAV BAR (DESKTOP)-->
<nav class="navbar navbar-default navbar-fixed-top nav">
  <div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="Home" style="color:white">HOME</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Profile" style="color:white">Profile</a></li>
        <li><a ng-click="vm.logout()" style="color:white">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>




<!-- COMMENTS -->
<br/>
<br/>
<label style="padding-top:100px">
  View all comments:
</label>
<div class="row">
  <div ng-repeat="c in vm.comments" class="col-sm-12">
    <div class="well col-sm-6">
      <!-- <div class="panel-body"> -->
        <div>
          @{{c.author}}
        </div>
        <div>
          {{c.text}}     <!-- this shows texts on page load -->
        </div>
        <div>
          <strong>
            {{c.dateCreated | date:"short"}}
          </strong>
        </div>
      <!-- </div> -->
    </div>
  </div>

<!-- COMMENT RESPONSES-->
  <div class="col-sm-6">
    <h5>
      Respond to comment:
    </h5>
    <form ng-submit="vm.save()">
      <div>
        <input
          ng-model="vm.commentInput"
          placeholder="Write a comment..."
          rows="5"
          cols="30">
          <button class="btn btn-success btn-small" ng-click="vm.addComment()"> submit </button>
      </div>
    </form>
  </div>
</div>
