<!-- NAV BAR (DESKTOP)-->
<nav class="navbar navbar-default navbar-fixed-top nav">
  <div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="Landing-Page" style="color:white">CLUBFEED </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Profile" style="color:white">Profile</a></li>
        <li><a ng-click="vm.logout()" style="color:white">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>




<!-- ADD POST -->
<div class="modal-header">
  <h3 class="modal-title">
    <center>
      Compose new location
    </center>
  </h3>
</div>
<div class="modal-body">
  <textarea
    placeholder="What's going on?"
    class="addComment"
    ng-model="vm.postInput">
  </textarea>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.createPost()" >Submit</button>
</div>
