<!-- NAV BAR (DESKTOP)-->
<nav class="navbar navbar-default navbar-fixed-top nav">
  <div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="Landing-Page" style="color:white">CLUBFEED </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Profile" style="color:white">Profile</a></li>
        <li><a ng-click="vm.logout()" style="color:white">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>






<form ng-submit="vm.save()">
  <div>
    <label>Edit your post:</label>
    <br/>
    <textarea ng-model="vm.text" rows="8" cols="40"></textarea>
  </div>
  <div>
    <button class="btn btn-primary btn-sm" ng-click="vm.update()">Edit post</button>
  </div>
</form>









<!-- ng. model : binding scope variables -->
<!-- Homework -->
<!-- display the date | create, read, and add comments section | 1 to 1 relationship- database comments :
-->
<!-- Build the comments for front end

*USER ACCOUNTS, POSTS, COMMENTS, PHOTOS, FILE UPLOADER,-->
