<!-- NAV BAR (DESKTOP)-->
<nav class="navbar navbar-default navbar-fixed-top nav">
  <div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="Landing-Page" style="color:white">CLUBFEED </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Profile" style="color:white">Profile</a></li>
        <li><a ng-click="vm.logout()" style="color:white">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>





<!-- Update Picture -->
<div class="row ">
  <div class="col-sm-12 uploadPhoto">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <p>
        <h3>Update Profile Picture</h3>
      </p>
      <button class="btn btn-success " ng-click="vm.pickFile()">Upload photo</button>
      <h2>{{vm.file.filename}}</h2>
      <img ng-src="{{vm.file.url | fpConvert:{w: 400} }}"/>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>
