<!-- INSERT NAV -->


    <!-- TOP SECTION-->
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">
      </div>
      <div class="col-xs-2">

      </div>
      <div class="col-xs-2">
        <p>
          <a href="#first">What is ClubFeed?</a>
        </p>
      </div>
      <div class="col-xs-2">
        <p>
          <a href="#second">About Us</a>
        </p>
      </div>
    </div>

<!-- HEADER SECTION -->
<head>
  <div class="row">
    <div class="col-xs-12  topSection">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-2">
    <p class="header" "text-center"> CLUBFEED
    </p>
  </div>
  <div class="col-xs-2">

  </div>
  <div class="col-xs-4">
    <p>
      Live feed to keep you updated with your local night club check-ins

    </p>
  </div>
</div>
</div>
</head>
<!-- LOGIN/REGISTER BUTTONS -->
<div class="row">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
    <button class="btn btn-primary"
    ui-sref="Login">Login</button>
  </div>
  <div class="col-xs-1">
    <button class="btn btn-primary"
    ui-sref="Register">Register</button>
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
  </div>
  <div class="col-xs-1">
  </div>
</div>

<!-- SECTION -->

<section id="#first">
  <div class="row">
  <div class="col-xs-12 section">
    <p>
      <h4>CLUBFEED is a location based social application, allowing users to check-in the night club locations to start sharing live feed with other users near local nights club in the area.
    </h4>
    </p>
  <div class="col-xs-2">
  </div>
  <div class="col-xs-3">

  </div>
  <div class="col-xs-3">
  </div>
  <div class="col-xs-2">
  </div>
  <div class="col-xs-2">
  </div>
  </div>
  </div>
</section>

<!-- ABOUT SECTION -->
<section id="#">
  <div class="row">
    <div class="col-xs-12 middleSection">

    </div>
  </div>
<section id="#">
<div class="row">
  <div class="col-xs-12 section">

  </div>
</div

<!-- FOOTER-->
<br><br><br><br>
  <footer>
    <p>
      copyright @Brionna White, 2016
    </p>
  </footer>
