<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ClubFeed</title>
  </head>
  <body>
    <div>
      <a ui-sref="landing-page">Welcome</a>
    </div>
    <!-- Header -->
    <section >
      <h1 class="center"> CLUBfeed </h1>
        <br><h3 class="center">Live feed to keep you updated with your local night club check-ins!
        </h3>
  </section>
    <!-- About -->
<section class="about">
  <p>
 <h3> Clubfeed is based out of San Francisco, Bay Area and discover in 2016. </h3>
  </p>
</section>
<!-- footer-->
  <footer>
    <p>
      copy @Brionna White 2016
    </p>
  </footer>
  </body>
</html>
