<!-- NAV SECTION -->
<nav class="navbar navbar-default navbar-fixed-top Nav">
  <div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="LandingPage">CLUBFEED </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Register">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- LOGIN -->
<form class="col-sm-6 col-sm-offset-3">
  <h3 class="page-header text-center">Login</h3>
  <div class="form-group">
    <label>Username</label>
    <input type="text"
    class="form-control"
    placeholder="Username"
    ng-model="vm.user.username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="text"
    class="form-control"
    placeholder="Password"
    ng-model="vm.user.password">
  </div>
  <input type="submit"
  class="btn btn-primary btn-block"
  value="Log In"
  ng-click="vm.login()">  Don't have an account?
  <a ui-sref="Register" style="float:;">Sign Up!</a>
</form>
