<!-- NAV BAR (DESKTOP)-->
<nav class="navbar navbar-default navbar-fixed-top nav">
  <div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" ui-sref="Landing-Page" style="color:white">CLUBFEED </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a ui-sref="Profile" style="color:white">Profile</a></li>
        <li><a ng-click="vm.logout()" style="color:white">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>







<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">
      Profile:
    </h1>
  </div>
</div>
<div class="row live-feed">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-9">
    <div ng-repeat="p in vm.posts track by $index" class="col-xs-9">
      <div>
        {{p.author}}
      </div>
      <div>
        {{p.text}}     <!-- this shows texts on page load -->
      </div>
      <div>
        {{p.dateCreated  | date: 'short'}} <!-- this filter shortens time format -->
      </div>
      <button class="btn btn-default btn-sm" ng-click="vm.remove(p._id, $index) ">Delete</button>
      <button class="btn btn-default btn-sm" ui-sref="editPosts({info: [p._id, p.text]})">Edit</button>
    </div>
  </div>
</div>
