
<h1>profile</h1>
<button ui-sref="edit-profile">Edit Button</button>
<div class="row nav-feed">
  <div class="col-xs-3">
    <a ui sref="#">Live feed</a>
  </div>
  <div class="col-xs-3">
    <a ui sref="#">Replies</a>
  </div>
  <div class="col-xs-3">
    <a ui sref="#">Check-ins</a>
  </div>
  <div class="col-xs-3">
    <a ui sref="#">Nearby</a>
  </div>
</div>
<div class="row live-feed">
<div class="col-xs-3">

</div>
<div class="col-xs-9">
  <div ng-repeat="p in vm.posts track by $index" class="col-xs-9">

    <div>
      {{p.author}}
    </div>
    <div>
    {{p.text}}     <!-- this shows texts on page load -->
  </div>
  <div>
    {{p.dateCreated  | date: 'short'}} <!-- this filter shortens time format -->
  </div>



    <button ng-click="vm.remove(p._id, $index) ">Delete</button>
    <button ui-sref="editPosts({info: [p._id, p.text]})">Edit</button>
  </div>
</div>
</div>
</div>
