<h1>profile</h1>
<div class="row nav-feed">
  <div class="col-xs-3">
    <a ui sref="#">Live feed</a>
  </div>
  <div class="col-xs-3">
    <a ui sref="#">Replies</a>
  </div>
  <div class="col-xs-3">
    <a ui sref="#">Check-ins</a>
  </div>
  <div class="col-xs-3">
    <a ui sref="#">Nearby</a>
  </div>
</div>
<div class="row live-feed">
<div class="col-xs-3">
  <img src = "http://4vector.com/i/free-vector-egg-icon_101770_Egg_icon.png"
  width="75" height="75"
  alt="user-photo"/>
</div>
<div class="col-xs-9">
  <p>
    My first check-in using ClubfFeed. I love this app, it gives me live newsfeed about the local nightclubs near my area. I'm meeting awesome people and its the ultimate nightlife experience.
  </p>
</div>
</div>
</div>
