body {
  background: ghostwhite;
  font-family: sans-serif;
}

.landingPageBackground {
  background-image: url('/images/iStock_000066149073_Medium.jpg');
  max-width: 100%;
  height: 140vh;
  width: 100vw;
  opacity: 0.7;
  background-repeat: no-repeat, repeat;
  color:black;
  padding: 30px 20px 40px 50px;
}
.landingPageNav {
  background: #7e98b3;
  border-color:#7e98b3;
  opacity:0.7;
  padding: 0px 20px 0px 30px;
  font-size: 16px;
}

.nav {
  background: #7e98b3;
  border-color:#7e98b3;
}

.homePage{
  padding: 50px 0px 0px 0px;
}


.check-in {
  background-color:#fff;
  height: 80px;
  margin: 5px;
  border: gray solid 1px;
}
.home-bio {
  border: gray solid 1px;
  background-color: white;
}

.live-feed {
  background-color: #fff;
  margin: auto;
  padding: auto;
  border: gray solid 1px;
}
.center {
  font-family:serif;
 text-align: center;
}

footer {
  text-align: center;
}

.profilePic:hover{
  cursor:pointer;
}
.topSection {
  padding: 20px 40px 40px 20px;
  height:100px;
  padding: 10px
}
.middleSection {
  background-color:;
  height: auto;
  }
.section {
  background-color:;
  height:auto;
}
.header {
  font-size:85px;
  font-family:inherit;
  color:white;

}
.uploadPhoto{
  background-color: white;
  border: black solid 1px;
  padding: 4%;
}
