body {
  background: transparent ;
  font-family: sans-serif;
}
.check-in {
  background-color:#fff;
  height: 80px;
  margin: 5px;
  border: #000 solid 1px;
}
.home-bio {
  border: #000 solid 1px;
  margin: 0px;
}

.nav-feed {
  background-color:#fff;
  height: 50px;
  margin: 5px;
  border: #000 solid 1px;
}
.live-feed {
  background-color: #fff;
  height: 800px;
  margin: 5px;
  padding-top: 20px;
  border: #000 solid 1px;
}
.notifications
{
  background-color: #fff;
  height: 800px;
  border: #000 solid 2px;
}
.center {
  font-family:serif;
 text-align: center;
}
.about {
  background: #ccc;
  height: 200px;
}
footer {
  text-align: center;
}
.addComment {
  width:100%;
}
.landing-background {
  background-image: 'http://2.bp.blogspot.com/-D8lQd7hfU9g/UZRr0WZtx-I/AAAAAAAACN4/B0ESFC_Jkiw/s1600/gps-location.png'
}

.profilePic:hover{
  cursor:pointer;
}
.topSection {
  background-color:transparent;
  background-image: url('/images/clubScene.jpg');
  height: 300px;
}
.middleSection {
  background-color: white;
  height: 300px;
  }
.section {
  background-color: #2ADB9D;
  height: 300px;
}
.header {
  font-size: 80px;
  font-family:inherit;

}
