body {
  background: ghostwhite;
  font-family: sans-serif;
}
.check-in {
  background-color:#fff;
  height: 80px;
  margin: 5px;
  border: gray solid 1px;
}
.home-bio {
  border: gray solid 1px;
  margin: 0px;
  background-color: white;
}

.live-feed {
  background-color: #fff;
  margin: auto;
  padding: auto;
  border: gray solid 1px;
}
.center {
  font-family:serif;
 text-align: center;
}

footer {
  text-align: center;
}

.profilePic:hover{
  cursor:pointer;
}
.topSection {
  background-color:transparent;s
  height:100px;
  padding: 10px
}
.middleSection {
  background-color:;
  height: auto;
  }
.section {
  background-color:;
  height:auto;
}
.header {
  font-size:80px;
  font-family:inherit;

}
.uploadPhoto{
  background-color: white;
  border: black solid 1px;
  margin:4%;
  padding: 4%;
}

.navSection{
  background-color: white;
  height: 35px;
  padding:15px auto;

}
